#category-container {
    overflow-y: auto;
    overflow-x: hidden;
}

#add-category-btn {
    height: 80px;
    width: 200px;
    border: solid black 2px;
    border-radius: 0;
}

#category-list {
    list-style-type: none;
    margin-top: -30px;
}

.droppable-category a {
    color: black;
    margin-left: auto;
    margin-right: auto; 
    height: 80px;
    border: solid black 2px;
    border-radius: 0;
    margin-top: 10px;
    width: 200px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.droppable-category a:hover {
    background-color: white !important;
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

.droppable-category h3 {
    margin-top: 0;
}

.destroy-special-category a {
    background: repeating-linear-gradient(
        45deg,
        #D9534F,
        #D9534F 10px,
        #DE6C69 10px,
        #DE6C69 20px
    );
    cursor: default;
}

.remove-special-category a {
    background: repeating-linear-gradient(
        45deg,
        #F0AD4E,
        #F0AD4E 10px,
        #F2B968 10px,
        #F2B968 20px
    );
    cursor: default;
}

.destroy-special-category div, .remove-special-category div {
    color: white;
    text-overflow: ellipsis;
}

.destroy-special-category span, .remove-special-category span {
    color: white;
    font-size: 12px;
    text-overflow: ellipsis;
}

.special-category-hr {
    height: 2px;
    width: 200px; 
    background-color: #CCCCCC; 
    text-align: center;  
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.special-category-hr.void {
    margin-top: 15px;
}

.special-category-hr a {
    background-color: white; 
    position: relative;
    top: -1em;
    font-size: 10px;
    cursor: pointer;
}

.catSubText {
    font-size: 12px;
    line-height: 10px;
}