<div ng-controller="CategoriesCtrl">
    <div class="row">
        <h1>Categories <span class="label label-default">{{categories.length - 1}}</span></h1>
        <hr>
    </div>

    <ul>
        <button class="btn btn-lg btn-success" id="add-category-btn" ng-click="changeCategoryModalView('create')">
            <span class="glyphicon glyphicon-plus"></span> Add Category
        </button>
    </ul>

    <ul id="category-list">
        <br />
        <div class="special-category-hr">
            <div ng-init="isSpecialCategorySectionShown='true'" ng-switch on="isSpecialCategorySectionShown">
                <div ng-switch-when="true">
                    <a ng-click="$parent.isSpecialCategorySectionShown = !$parent.isSpecialCategorySectionShown; $parent.specialCategoryShow={'display':'none'}">Hide</a>
                </div>
                <div ng-switch-when="false">
                    <a ng-click="$parent.isSpecialCategorySectionShown = !$parent.isSpecialCategorySectionShown; $parent.specialCategoryShow={'display':''}">Show</a>
                </div>
            </div>
        </div>
        <div ng-switch on="currentView">
            <div ng-switch-default 
                ng-style="specialCategoryShow">
                <li class="droppable-category destroy-special-category" 
                    cng-special-droppable-category
                    delete-item="$parent.deleteItem(itemId)"
                    remove-item="$parent.removeItemFromCategory(itemId)">
                    <a class="btn" href="javascript:void(0)">
                        <div>
                            <div><u>Destroy</u> <i class="glyphicon glyphicon-fire"></i></div>
                            <span>Drag item here to destroy.</span>
                        </div>
                    </a>
                </li>
                <div class="special-category-hr void">
                </div>
            </div>
            <div ng-switch-when="selectedCategory" 
                 ng-if="selectedCategory.label === uncategorized.label" 
                 ng-style="specialCategoryShow">
                <li class="droppable-category destroy-special-category"
                    cng-special-droppable-category
                    delete-item="$parent.deleteItem(itemId)"
                    remove-item="$parent.removeItemFromCategory(itemId)">
                    <a class="btn" href="javascript:void(0)">
                        <div>
                            <div><u>Destroy</u> <i class="glyphicon glyphicon-fire"></i></div>
                            <span>Drag item here to destroy.</span>
                        </div>
                    </a>
                </li>
                <div class="special-category-hr void">
                </div>
            </div>
            <div ng-switch-when="selectedCategory" 
                 ng-if="selectedCategory.label !== uncategorized.label" 
                 ng-style="specialCategoryShow">
                <li class="droppable-category destroy-special-category"
                    cng-special-droppable-category
                    delete-item="$parent.deleteItem(itemId)"
                    remove-item="$parent.removeItemFromCategory(itemId)">
                    <a class="btn" href="javascript:void(0)">
                        <div>
                            <div><u>Destroy</u> <i class="glyphicon glyphicon-fire"></i></div>
                            <span>Drag item here to destroy.</span>
                        </div>
                    </a>
                </li>
                <li class="droppable-category remove-special-category"
                    cng-special-droppable-category
                    delete-item="$parent.deleteItem(itemId)"
                    remove-item="$parent.removeItemFromCategory(itemId)">
                    <a class="btn" href="javascript:void(0)">
                        <div>
                            <div><u>Remove</u> <i class="glyphicon glyphicon-scissors"></i></div>
                            <span>Drag item here to remove<br />from current category</span>
                        </div>
                    </a>
                </li>
                <div class="special-category-hr void">
                </div>
            </div>
        </div>  
        <li class="droppable-category">
            <a class="btn" style="background-color: {{uncategorized.color}}" ng-click="viewCategoryDetails(uncategorized)">
                <div>
                    <div><u>{{uncategorized.label}}</u></div>
                    <span>{{uncategorized.teams.length}} Teams</span>
                </div>
            </a>
        </li>
        <div ng-repeat="category in categories | orderBy: '+label'" ng-if="category.label != 'Uncategorized'">
            <li class="droppable-category" 
                cng-droppable-category 
                category-id="{{category.id}}"
                check-category="$parent.categories.getProjectByName(categoryName, projectName)" 
                update-category="$parent.transferTeamToCategory(categoryId, projectId, true)">
                <a class="btn" style="background-color: {{category.color}}" ng-click="viewCategoryDetails(category)">
                    <h3>
                        <span class="glyphicon-wrapper">
													<span class="glyphicon glyphicon-cog" ng-click="changeCategoryModalView('edit', $event, category)">
													</span>
												</span>
                    </h3>
                    <div>
                        <div><u>{{category.label}}</u></div>
                        <div class="catSubText">{{category.teams.length}} Teams</div>
                        <div class="catSubText" ng-if="category.rubric">
                            Rubric: {{category.rubric.name}}
                        </div>
                        <div class="catSubText" ng-if="!category.rubric">
                            Rubric: none
                        </div>
                    </div>
                </a>
            </li>
        </div>
        <br /><br /> 
    </ul>

    <!-- Category Modal -->
    <div class="modal fade" id="category-modal" tabindex="-1" role="dialog" aria-labelledby="category-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content panel-success">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" aria-label="Close" ng-click="closeCategoryModal()"><span aria-hidden="true">&times;</span></button>
                    <div ng-switch on="categoryModalView">
                        <div ng-switch-when="create">
                            <h4 class="modal-title" id="category-modal-label">Add New Category</h4>
                        </div>
                        <div ng-switch-when="edit">
                            <h4 class="modal-title" id="category-modal-label">Edit Category: {{categoryName}}</h4>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
                            <label>*Name:</label>
                        </div>
                        <div class="col col-lg-7 col-md-7 col-sm-7">
                            <input class="form-control" 
                                   type="text" 
                                   ng-model="categoryName"
                                   required
                                   autofocus />
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
                            <label>Description:</label>
                        </div>
                        <div class="col col-lg-7 col-md-7 col-sm-7">
                            <textarea class="form-control" 
                                      rows="3" 
                                      ng-model="categoryDesc"></textarea>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
                            <label>*Due by:</label>
                        </div>
                        <div class="col col-lg-5 col-md-5 col-sm-5">
                            <div class="row">
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <timepicker minute-step="1"
																								ng-model="categoryTime"
																								required>
                                    </timepicker>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
                            <label>*Color:</label>
                        </div>
                        <div class="col col-lg-5 col-md-5 col-sm-5">
                            <div class="input-group">
                                <input type="text" 
                                       class="form-control" 
                                       cng-color-picker 
                                       color="{{categoryColor}}"
                                       color-list="{{colorList}}"
                                       ng-model="categoryColor" />
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
                        </div>
                        <div class="col col-lg-9 col-md-9 col-sm-3 modal-col">
                            <div ng-switch on="categoryModalError">
                                <div ng-switch-when="null">
                                </div>
																<div ng-switch-when="undefined">
                                </div>
                                <div ng-switch-default>
                                    <div class="alert alert-danger modal-alert">
                                        {{categoryModalError}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.modal-body -->

                <div ng-switch on="categoryModalView">
                    <div ng-switch-when="create">
                        <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="createNewCategory()">Save changes</button>
                    <button type="button" class="btn btn-default" ng-click="closeCategoryModal()">Cancel</button>
                        </div> <!-- ./modal-footer -->
                    </div> <!-- ng-switch-when-"ceate" -->
                    <div ng-switch-when="edit">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-delete" ng-click="deleteCategory()">Delete</button>
                    <button type="button" class="btn btn-success" ng-click="editSelectedCategory()">Save changes</button>
                    <button type="button" class="btn btn-default" ng-click="closeCategoryModal()">Cancel</button>
                        </div> <!-- /.modal-footer-->
                    </div> <!-- ng-switch-when-"edit" -->
                </div> <!-- ng-switch on="categoryModalView" -->

            </div>
        </div>
    </div>
</div>