<!-- Login Form -->
<div ng-controller="LoginCtrl" class="container content login-form-container">

  <!-- <form class="login-form" ng-submit="login()">
    <label>Email</label>
    <input type="email" id="inputEmail" class="form-control login-input" required autofocus>
    <label>Password</label>
    <input type="password" id="inputPassword" class="form-control login-input" required>
      <button class="btn btn-lg btn-primary login-button" type="submit">Login</button>
    </div>
  </form> -->

  <button ng-click="register()">Register</button><br />
  <button ng-click="getUserList()">Get Users</button><br />
  <button ng-click="login()">Login</button><br />

  User: {{user.first_name}}

</div>