.login-form-wrapper {
	width:350px;
	position:absolute;
	left: calc(50% - 175px);
}

.login-button {
	margin-top: 10px;
}

.login-input {
	margin-bottom: 10px;
}

 .login-form {
 	margin-top: 10px;
 }

.invalid-password, .invalid-password:focus {
	background-color: white !important;
	border-color: rgba(217, 83, 79, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}