.navbar {
	position: fixed;
	width: 100%;
	z-index: 9999;
	margin-bottom: 0px;
	border-radius: 0px;
	min-height: 40px;
}

.lj-navbar-default {
	background-color: #373737;
	border: 0px;
	color: #c9c9c9;
}

.lj-navbar-default .navbar-brand {
	color: #c9c9c9;
	height: 40px;
	padding: 9px 9px;

}

.lj-navbar-text {
	color: #c9c9c9;
	margin-top: 10px;
}

.navbar-header a:hover {
	color: #ffffff !important;
}

.nav-item {
	margin-right: 10px;
}

.lj-dropdown-btn {
	display: inline !important;
	color: #c9c9c9 !important;
	padding: 0 !important;
}

.lj-dropdown-btn:active, .lj-dropdown-btn:focus, .lj-dropdown-btn:visited {
	background-color: #373737 !important;
	color: #c9c9c9 !important;
}

.lj-dropdown-btn:hover {
	color: #ffffff !important;
}