<div class="container-fluid">
	<div class="row">
		<div class="col col-sm-8 col-md-8 col-lg-8">
			<div ng-switch on="rubricView">
				<div ng-switch-default>
					<div class="row">
						<h1>Rubrics <span class="label label-default">{{rubrics.length}}</span></h1>
						<hr>
					</div>
				</div>
				<div ng-switch-when="selectedCategory">
					<div class="row">
						<h1 id="breadcrumb-symbol">
							<a ng-click="changeView('default')">Rubrics</a><span id="slash">&nbsp;/</span> {{selectedCategory.label}}
							<span class="label label-default">TODO</span>
						</h1>
						<hr>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 col-md-8 col-lg-8">
					<em>Drag-'n-drop rubrics into categories. (One rubric per category!)</em>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 pull-right">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="btn-group" role="group" id="team-buttons">
								<button class="btn btn-default" type="button">
									Organize
									<span class="glyphicon glyphicon-th-large"></span>
								</button>
								<div class="btn-group" role="group">
									<button class="btn btn-default dropdown-toggle" type="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										Sort by
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="javascript:void(0)" ng-click="changeView('default')">Name</a></li>
										<li><a href="javascript:void(0)" ng-click="changeView('category')">Category</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-switch on="rubricView">
				<div ng-switch-default>
					<div class="row">
						<div class="col col-sm-12 col-md-12 col-lg-12">
							<button class="btn btn-lg btn-success add-entity-btn"
									data-toggle="modal"
									ng-click="openRubricModal(false)">
								<span class="glyphicon glyphicon-plus"></span> Add Rubric
							</button>
						</div>

						<div ng-repeat="rubric in rubrics track by $index | orderBy: '+rubric.name'" class="draggable-item-col">
							<div class="media draggable-item"
								 cng-draggable-item
								 item-id="{{rubric.id}}"
								 item-type="rubric"
								 cog=".glyphicon-cog"
								 is-transferable="true">
								<div class="media-left"></div>
								<div class="media-body">
									<h4 class="media-heading">
										<span class="glyphicon glyphicon-cog"
												data-toggle="modal"
												ng-click="openRubricModal(true, rubric)">
										</span>
									</h4>
									<div class="media-text rubric-media-text"
										 cng-wrap-word word="{{rubric.name}}"
										 line-width="25"
										 total-width="50">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-switch-when="selectedCategory">
					<div class="row">
						Selected Category View
					</div>
				</div> <!-- ng-switch-when="selectedCategory" -->
			</div>

		</div> <!-- ./col col-sm-8 col-md-8 col-lg-8 -->

		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="text-center" id="category-container" ng-include="'modules/categories/categories.html'"></div> <!--Text-Center-->
		</div> <!-- ./col -->

	</div> <!-- ./col-sm-4 col-md-4 col-lg-4 -->
</div> <!-- ./container-fluid -->

<div class="modal fade" id="rubric-modal" tabindex="-1" role="dialog" aria-labelledby="rubric-modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content panel-success">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="notification-modal-label">
					<span ng-if="rubricModalView == 'create'">Add New Rubric</span>
					<span ng-if="rubricModalView == 'edit'">Edit Rubric {{rubricForm.name}}</span>
				</h4>
			</div>
			<div class="modal-body">

				<div class="row"
						ng-if="modalCriteria.length == 0 || !rubricForm.name">
					<div class="col col-sm-1 col-md-1 col-lg-1"></div>
						Rubric name and at least one criterion required to save.<br />
				</div>

				<div class="row">
					<div class="col col-sm-1 col-md-1 col-lg-1">
					</div>
					<div class="col col-sm-3 col-md-3 col-lg-3">
						<label>*Name:</label>
					</div>
					<div class="col col-sm-7 col-md-7 col-lg-7">
						<input class="form-control"
								type="text"
								ng-model="rubricForm.name" />
					</div>
				</div> <!-- ./row -->
				<br />

				<div class="row">
					<div class="col col-sm-1 col-md-1 col-lg-1">
					</div>
					<div class="col col-sm-3 col-md-3 col-lg-3">
						<label>*Overall Rating Scale:</label>
					</div>
					<div class="col col-sm-7 col-md-7 col-lg-7">
						<div><rating ng-model="rubricRating" max="10"></rating> <b>({{rubricRating}} / 10)</b></div>
					</div>
				</div> <!-- ./row -->
				<br />

				<div class="row">
					<div class="col col-sm-1 col-md-1 col-lg-1">
					</div>
					<div class="col col-sm-3 col-md-3 col-lg-3">
						<label>*Criteria:</label>
					</div>
					<div class="col col-sm-7 col-md-7 col-lg-7">

						<div accordion close-others="true">
							<button class="btn btn-success"
									id="rubric-accordion-add-btn"
									ng-click="createNewAccordionCriterion()">
								<span class="glyphicon glyphicon-plus"></span>
								Add New Criterion
							</button>
							<div ng-repeat="criteria in modalCriteria">
								<div accordion-group is-open="status.open" class="panel-success">
									<div accordion-heading class="panel-heading rubric-accordion-heading">
										<div class="rubric-accordion-heading-content">
											{{criteria.label}}
											<i class="pull-right glyphicon"
												 ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
											</i>
										</div>
									</div accordion-heading>
									<div class="row">
										<div class="col-sm-12 col-md-12 col-lg-12">
											<i class="pull-right glyphicon glyphicon-remove criterion-remove-icon"
												 ng-click="removeAccordionCriterion($index)">
											</i>
										</div>
									</div>
									<br />
									<div class="row rubric-accordion-row">
										<div class="col col-sm-5 col-md-5 col-lg-5">
											<label>*Name:</label>
										</div>
										<div class="col col-sm-7 col-md-7 col-lg-7">
											<input ng-model="modalCriteria[$index].label" type="text" class="form-control" />
										</div>
									</div>
									<br />
									<div class="row rubric-accordion-row">
										<div class="col col-sm-5 col-md-5 col-lg-5">
											<label>*Description:</label>
										</div>
										<div class="col col-sm-7 col-md-7 col-lg-7">
											<textarea ng-model="modalCriteria[$index].description" class="form-control" rows="2" />
										</div>
									</div>
									<br />
									<div class="row rubric-accordion-row">
										<div class="col col-sm-5 col-md-5 col-lg-5">
											<label>*Rating Scale: <span ng-init="modalCriteria[$index].ratingType"><em>{{modalCriteria[$index].ratingType}}</em></span></label>
										</div>
									</div>
									<br />
									<div class="row rubric-accordion-row">
										<div class="col col-sm-6 col-md-6 col-lg-6">
											<div class="panel panel-default"
												 ng-style="inheritedActive"
												 ng-click="updateRatingType($index, 'Inherited'); inheritedActive={'background-color':'#d6e9c6'}; customActive={'background-color':'white'}">
												<label>Inherited</label>
												<div ng-init="$scope.rubricRating"><rating ng-model="rubricRating" readonly="true" max="10"></rating> <b>({{rubricRating}} / 10)</b></div>
											</div>
										</div>
										<div class="col col-sm-6 col-md-6 col-lg-6">
											<div class="panel panel-default"
												 ng-style="customActive"
												 ng-click="updateRatingType($index, 'Custom'); customActive={'background-color':'#d6e9c6'}; inheritedActive={'background-color':'white'}">
												<label>Custom</label>
												<div ng-init="$scope.rubricRating">
													<rating ng-model="modalCriteria[$index].rating" max="10"></rating> <b>({{modalCriteria[$index].rating}} / 10)</b>
												</div>
											</div>
										</div>
									</div>
								</div accordion-group>
							</div>
						</div accordion>

					</div>
				</div>

			</div> <!-- ./modal-body -->

			<div class="modal-footer">
				<div class="row">
					<span class="col col-sm-5">
						<button ng-if="rubricModalView == 'create'"
								type="button"
								class="btn btn-success pull-right"
								ng-click="createRubric()"
								ng-disabled="modalCriteria.length == 0 || !rubricForm.name">
							Create
						</button>
						<button ng-if="rubricModalView == 'edit'"
								type="button"
								class="btn btn-success pull-right"
								ng-click="editRubric()"
								ng-disabled="modalCriteria.length == 0 || !rubricForm.name">
							Update
						</button>
					</span>
					<span class="col col-sm-2"></span>
					<span class="col col-sm-5"><button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button></span>
				</div>
			</div> <!-- ./modal-footer -->
		</div>
	</div>
</div>
