<div ng-controller="EventCtrl">
  <div ng-switch on="event.current_view">

    <div ng-switch-when="event_ready_view"> 
      <div class="container-fluid">
        <div class="row">
          <h1>Event Dashboard: <span ng-bind="getSelectedEvent().name"></h1>
          <hr>
        </div>
        <div class="row">
          <div class="col col-md-3 col-lg-1">
          </div>
          <div class="col col-md-11 col-lg-11">
            <div class="row">
              <span class="col col-lg-3 col-md-3 col-sm-4  col-xs-4 event-ready">
                <button class="btn btn-default" ng-click="editEvent()">
                  Edit Event Info &nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                </button>
              </span>
              <span class="col col-lg-9 col-md-9 col-sm-8 col-xs-8">
                <div class="row">
                  <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-2 event-ready">
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Auto-start event at:</label>
                    </div>
                  </div>
                  <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <!-- This ng-model is just temporary -->
                    <timepicker ng-model="autoStart" 
                                minute-step="15"
                                required>
                    </timepicker>
                  </div>
                </div>
              </span>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="text-center">
            <button class="btn btn-lg btn-default" 
              id="begin-event-button" 
              ng-click="beginEvent()">Begin Event</button>
          </div>
        </div>
      </div>
    </div>

    <div ng-switch-when="event_in_progress_view">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="well" style="height: 100%">
              <h1 class="page-header">Event Dashboard: GT CIC 2015</h1>
            </div>

            <div style="font-size: 16px">
              <p>
                <i>In progress</i>
                <span class="glyphicon glyphicon-repeat rotate"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Time Range: 11:30 am - 6:30 pm
              </p>
            </div>

            <div class="row">
              <div class="col col-sm-8"> 
                <div class="row">
                  <span class="col col-sm-6 col-lg-5">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" 
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="progress-value">40% overall progress</span>
                      </div>
                    </div>
                  </span>
                  <span class="col col-sm-6 col-md-6 col-lg-6">
                    <span style="float: left">32/45 project assignments completed</span>
                  </span>
                </div>
              </div>
              <div class="col col-sm-4"> 
                <button class="btn btn-default" ng-click="editEvent()" style="margin-top: -20px; float: right">
                  Edit Event Info &nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                </button>
              </div>
            </div>

						<ul class="nav nav-tabs" role="tablist" style="margin-top: 20px">
							<li class="active" ng-repeat="tab in eventTabs" ng-if="$index === 0" cng-event-tab event-section="{{tab.sectionId}}">
								<a id="{{tab.id}}" href="javascript:void(0)">{{tab.name}}</a>
							</li>
							<li ng-repeat="tab in eventTabs" ng-if="$index !== 0" cng-event-tab event-section="{{tab.sectionId}}">
								<a id="{{tab.id}}" href="javascript:void(0)">{{tab.name}}</a>
							</li>
						</ul>

            <!--Judge Tab-->
            <div class="beneath-tab" id="judge-progress-section">

              <span style="margin-right: 20px">Sort by:</span>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Category <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Completion</a></li>
                  <li><a href="#">Name</a></li>
                  <li><a href="#">Category</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Order <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Ascending</a></li>
                  <li><a href="#">Descending</a></li>
                </ul>
              </div>
              <span class="badge" style="margin-left: 20px">{{judge_list.length}}</span>
              <div style="float: right">
                <expand-all-accordions>
                  <button class="btn btn-default expand-all-accordions judge">Expand all <span class="glyphicon glyphicon-resize-full"></span></button>
                </expand-all-accordions>
                <collapse-all-accordions>
                  <button class="btn btn-default collapse-all-accordions judge">Collapse all <span class="glyphicon glyphicon-resize-small"></span></button>
                </collapse-all-accordions>
              </div>

              <!--Judge Panels-->
              <div ng-repeat="judge in judge_list">
                <div class="accordion judge-accordion">
                  <div class="panel panel-primary accordion-group">

                    <div class="panel-heading" style="height: 60px">
                      <div class="row">
                        <span class="col-sm-3 col-md-3 col-lg-3 judge-col">
                          <div class="truncate">
                            <div class="accordion-heading judge-heading-text">
                              <change-accordion-chevron>
                                <a class="accordion-toggle" data-toggle="collapse" href="#judge{{$index}}" onclick="return false;"> 
                                  <span class="glyphicon glyphicon-chevron-right"></span> {{judge}}
                                </a>
                              <change-accordion-chevron>
                            </div>
                          </div>
                        </span>
                        <span class="col-sm-1 col-md-1 col-lg-1">
                          <button type="button" class="btn btn-primary notification-btn" data-toggle="modal" data-target="#notification-modal">
                            <span class="glyphicon glyphicon-bell"></span>
                          </button>
                        </span>
                        <span class="col-sm-6 col-md-6 col-lg-6">
                          <div class="progress inline">
                            <span class="progress-value">40%</span>
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                              <span class="sr-only">40% Complete (success)</span>
                            </div>
                          </div>
                        </span>
                        <span class="col col-sm-2 col-md-2 col-lg-2 pull-right projects-judged-text">
                          1/4 Projects Judged 
                        </span>
                      </div> 
                    </div>

                    <div id="judge{{$index}}" class="accordion-body collapse judge">
                      <div class="accordion-inner">
                        <div class="panel-body">

                          <!--List of judge's unsubmitted teams-->
                          <h4>Not yet submitted (2)</h4>
                          <div class="row">
                            <div class="col col-sm-3 col-md-3 col-lg-3">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">#76</h4>
                                  <span>Lemur</span>
                                </div>
                              </div>
                            </div>
                             <div class="col col-sm-3 col-md-3 col-lg-3">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">#52</h4>
                                  <span>Turtle</span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--List of judge's completed teams-->
                          <h4>Completed</h4>
                          <div class="row">
                            <div class="col col-sm-3 col-md-3 col-lg-3">
                              <div class="media media-completed" data-toggle="modal" data-target="#completed-team-modal">
                                <div class="media-left">
                                  <a href="#" class="team-pic">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                                    <span class="completed">
                                      <span class="glyphicon glyphicon-ok"></span>
                                    </span>
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">#33</h4>
                                  <span>Flamingo</span><br />
                                  <!--Number of filled in stars-->
                                  <span class="glyphicon glyphicon-star"></span>
                                  <span class="glyphicon glyphicon-star"></span>
                                  <span class="glyphicon glyphicon-star"></span>
                                  <!--Number of unfilled stars-->
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!--Project Tab-->
            <div class="beneath-tab" id="team-progress-section" style="display:none">

              <span style="margin-right: 20px">Sort by:</span>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Category <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Completion</a></li>
                  <li><a href="#">Name</a></li>
                  <li><a href="#">Category</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Order <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Ascending</a></li>
                  <li><a href="#">Descending</a></li>
                </ul>
              </div>
              <span class="badge" style="margin-left: 20px">{{project_list.length}}</span>
              <div style="float: right">
                <expand-all-accordions>
                  <button class="btn btn-default expand-all-accordions project">Expand all <span class="glyphicon glyphicon-resize-full"></span></button>
                </expand-all-accordions>
                <collapse-all-accordions>
                  <button class="btn btn-default collapse-all-accordions project">Collapse all <span class="glyphicon glyphicon-resize-small"></span></button>
                </collapse-all-accordions>
              </div>

              <!--Project Panels-->
              <div ng-repeat="project in project_list">
                <div class="accordion" style="padding-top: 20px">
                  <div class="panel panel-primary accordion-group">

                    <div class="panel-heading" style="height: 60px">
                      <div class="row">
                        <span class="col-sm-2 col-md-2 col-lg-2" style="margin-top: 10px">
                          <div class="truncate">
                            <div class="accordion-heading">
                              <change-accordion-chevron>
                                <a class="accordion-toggle" data-toggle="collapse" href="#project{{$index}}" onclick="return false;"> 
                                  <span class="glyphicon glyphicon-chevron-right"></span> {{project}} &nbsp;&nbsp;
                                </a>
                              <change-accordion-chevron>
                            </div>
                          </div>
                        </span>
                        <span class="col-sm-1 col-md-1 col-lg-1">
                          <button type="button" class="btn btn-primary notification-btn" data-toggle="modal" data-target="#notification-modal">
                            <span class="glyphicon glyphicon-bell"></span>
                          </button>
                        </span>
                        <span class="col-sm-6 col-md-5 col-lg-6">
                          <div class="progress inline">
                            <span class="progress-value">70%</span>
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                              <span class="sr-only">70% Complete (success)</span>
                            </div>
                          </div>
                        </span>
                        <span class="col col-sm-2 col-md-3 col-lg-2 pull-right" style="margin-top: 10px; margin-right: 20px">
                          <div style="width: 150%;">
                            3/15 Judge Submissions
                          </div>
                        </span>
                      </div> 
                    </div>

                    <div id="project{{$index}}" class="accordion-body collapse project">
                      <div class="accordion-inner">
                        <div class="panel-body">

                          <!--Projects not yet judged-->
                          <h4>Not yet submitted (2)</h4>
                          <div class="row">
                            <div class="col col-sm-3 col-md-3 col-lg-3">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">#76</h4>
                                  <span>George Washington</span>
                                </div>
                              </div>
                            </div>
                             <div class="col col-sm-3 col-md-3 col-lg-3">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">#52</h4>
                                  <span>Thomas Jefferson</span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--Projects Judged-->
                          <h4>Completed</h4>
                          <div class="row">
                            <div class="col col-sm-3 col-md-3 col-lg-3">
                              <div class="media media-completed" data-toggle="modal" data-target="#completed-team-modal">
                                <div class="media-left">
                                  <a href="#" class="team-pic">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                                    <span class="completed">
                                      <span class="glyphicon glyphicon-ok"></span>
                                    </span>
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">#33</h4>
                                  <span>Abe Lincoln</span><br />
                                  <!--Number of filled in stars-->
                                  <span class="glyphicon glyphicon-star"></span>
                                  <span class="glyphicon glyphicon-star"></span>
                                  <span class="glyphicon glyphicon-star"></span>
                                  <!--Number of unfilled stars-->
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!--Category Tab-->
            <div class="beneath-tab" id="category-progress-section" style="display:none">

              <span style="margin-right: 20px">Sort by:</span>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Category <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Completion</a></li>
                  <li><a href="#">Name</a></li>
                  <li><a href="#">Category</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Order <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Ascending</a></li>
                  <li><a href="#">Descending</a></li>
                </ul>
              </div>
              <span class="badge" style="margin-left: 20px">{{category_list.length}}</span>
              <div style="float: right">
                <expand-all-accordions>
                  <button class="btn btn-default expand-all-accordions category">Expand all <span class="glyphicon glyphicon-resize-full"></span></button>
                </expand-all-accordions>
                <collapse-all-accordions>
                  <button class="btn btn-default collapse-all-accordions category">Collapse all <span class="glyphicon glyphicon-resize-small"></span></button>
                </collapse-all-accordions>
              </div>

              <!--Category Panels-->
              <div ng-repeat="category in category_list">
                <div class="accordion" style="padding-top: 20px">
                  <div class="panel panel-primary accordion-group">

                    <div class="panel-heading" style="height: 60px">
                      <div class="row">
                        <span class="col-sm-2 col-md-2 col-lg-2" style="margin-top: 10px">
                          <div class="truncate">
                            <div class="accordion-heading">
                              <change-accordion-chevron>
                                <a class="accordion-toggle" data-toggle="collapse" href="#category{{$index}}" onclick="return false;"> 
                                  <span class="glyphicon glyphicon-chevron-right"></span> {{category}} &nbsp;&nbsp;
                                </a>
                              <change-accordion-chevron>
                            </div>
                          </div>
                        </span>
                        <span class="col-sm-1 col-md-1 col-lg-1">
                          <button type="button" class="btn btn-primary notification-btn" data-toggle="modal" data-target="#notification-modal">
                            <span class="glyphicon glyphicon-bell"></span>
                          </button>
                        </span>
                        <span class="col-sm-6 col-md-5 col-lg-6">
                          <div class="progress inline">
                            <span class="progress-value">90%</span>
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                              <span class="sr-only">90% Complete (success)</span>
                            </div>
                          </div>
                        </span>
                        <span class="col col-sm-2 col-md-3 col-lg-2 pull-right" style="margin-top: 10px; margin-right: 20px">
                          <div style="width: 150%;">
                            10/15 Projects Complete
                          </div>
                        </span>
                      </div> 
                    </div>

                    <div id="category{{$index}}" class="accordion-body collapse category">
                      <div class="accordion-inner">
                        <div class="panel-body">

                          <!--Projects in this category that haven't been judged yet-->
                          <h4>Not yet submitted (2)</h4>
                          <div class="row">
                            <div class="col col-sm-3 col-md-3 col-lg-3">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">#76</h4>
                                  <span>Project 1</span>
                                </div>
                              </div>
                            </div>
                             <div class="col col-sm-3 col-md-3 col-lg-3">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">#52</h4>
                                  <span>Project 2</span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--Projects that have been judged by all judges participating in that category-->
                          <h4>Completed</h4>
                          <div class="row">
                            <div class="col col-sm-3 col-md-3 col-lg-3">
                              <div class="media media-completed" data-toggle="modal" data-target="#completed-team-modal">
                                <div class="media-left">
                                  <a href="#" class="team-pic">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                                    <span class="completed">
                                      <span class="glyphicon glyphicon-ok"></span>
                                    </span>
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">#33</h4>
                                  <span>Project 3</span><br />
                                  <!--Number of filled in stars-->
                                  <span class="glyphicon glyphicon-star"></span>
                                  <span class="glyphicon glyphicon-star"></span>
                                  <span class="glyphicon glyphicon-star"></span>
                                  <!--Number of unfilled stars-->
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
                  
             <!--Event Standing Section-->
            <div class="beneath-tab" id="team-standing-section" style="display:none">
           		
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Show <span class="caret"></span>
								</button>
								<button type="button" 
												class="btn btn-default" 
												ng-click="rankNext3Categories()"
												ng-style="next3Button"
												ng-init="next3Button={'display': 'none'}">
									Next 3 <span class="glyphicon glyphicon-forward"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="javascript:void(0)" ng-click="rankAllCategories(); next3Button={'display': 'none'}">All teams</a></li>
									<li><a href="javascript:void(0)" ng-click="rankNext3Categories(); next3Button={'display': 'block'}">3 at a time</a></li>
								</ul>
							</div>
							
							<div class="row">
								<div ng-repeat="category in rankedCategories">
									<div class="row" ng-if="$index !== 0 && $index % 3 == 0"></div>
									<div class="col col-sm-4 col-md-4 col-lg-4">
										<div class="category-standing" style="background-color: {{category.color}}">
											{{category.label}}
										</div>
										<div ng-repeat="team in category.teams">
											<div class="row">
												<div class="col col-sm-12 col-md-12 col-lg-12">
													<div class="media media-standing">
														<div class="media-left">
															<a href="javascript:void(0)">
																<img class="media-object" src="http://placehold.it/64x64" alt="64x64">
															</a>
														</div>
														<div class="media-body">
															<h4 class="media-heading">
																{{team.id}}
															</h4>
															<div class="media-text" cng-wrap-word word="{{team.name}}"
																	 line-width="18"
																	 total-width="36">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                
            </div> <!-- ./beneath-tab -->

          </div>
        </div>
      </div>
    </div> <!--Ng-Switch-When=Event In Progress-->

  </div>

</div> <!--Event Ctrl-->

<!--Judge Notification Modal-->
<notification-widget>
  <div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="notification-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content panel-primary">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="notification-modal-label">Send Notification</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-sm-3">
              Recipients:
            </div>
            <div class="col col-sm-9">
              <!--Recipient List-->
              <div class="row" id="recipients-div" style="margin-bottom: 8px"></div>
              <div class="row">
                <input type="text" class="form-control" id="judge_search" placeholder="Search by name..." style="width: 50%">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-3"></div>
            <div class="col col-sm-9">
              <div class="checkbox" style="margin-left: -12px">
                <label style="margin-right: 12px"><input id="send-all-checkbox" type="checkbox" value="">Send to all judges</label>
                <label><input id="clear-all-checkbox" type="checkbox" value="">Clear</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-12">
              <div class="form-group" style="margin-left: 10%; margin-right: 10%">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="message-to-judge"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <span class="col col-sm-5"><button type="button" class="btn btn-primary" style="float: right">Send</button></span>
            <span class="col col-sm-2"></span>
            <span class="col col-sm-5"><button type="button" class="btn btn-default" data-dismiss="modal" style="float: left">Close</button></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<notification-widget>

<!--Judge Completed Scoring Team Modal-->
<div class="modal fade" id="completed-team-modal" tabindex="-1" role="dialog" aria-labelledby="completed-team-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="completed-team-modal-label">
          <div class="row">
            <div class="media media-modal">
              <div class="media-left">
                <a href="#" class="team-pic">
                  <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
                  <span class="completed">
                    <span class="glyphicon glyphicon-ok"></span>
                  </span>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <div class="row" style="font-size: 24px;">
                    <span class="col col-sm-3">#33</span>
                      <span class="col col-sm-9">
                      <!--Number of filled in stars-->
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <!--Number of unfilled stars-->
                      <span class="glyphicon glyphicon-star-empty"></span>
                      <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                  </div>
                  <div class="row" style="font-size: 16px">
                    <span class="col col-sm-3">Flamingo</span>
                    <span class="col col-sm-9">Dynamically fill this in</span>
                  </div>
                </h4>
              </div>
            </div>
          </div>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-modal">
          <thead>
            <tr><td>Criterion</td><td>Score</td></tr>
          </thead>
          <tbody>
            <tr><td>Domestication</td><td>2/5</td></tr>
            <tr><td>Trainability</td><td>1/5</td></tr>
            <tr><td>Ease of Care</td><td>3/5</td></tr>
            <tr><td>Friendliness</td><td>2/5</td></tr>
            <tr><td>Overall</td><td>2/5</td></tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div class="row">
          <span class="col col-sm-5"><button type="button" class="btn btn-primary" style="float: right">Save</button></span>
          <span class="col col-sm-2"></span>
          <span class="col col-sm-5"><button type="button" class="btn btn-default" data-dismiss="modal" style="float: left">Close</button></span>
        </div>
      </div>
    </div>
  </div>
</div>