.custom-jumbotron {
  display: inline-block;
  background: white;
  width:600px;
  position:absolute;
  left: calc(50% - 300px);
}

#event-selection-h1 {
  text-decoration: underline;
}

.event-selection-row {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.event-selection-row .btn {
  float: left;
}

.event-selection-row .btn-primary, .event-selection-row .btn-success {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.event-selection-row .btn-primary:hover, .event-selection-row .btn-success:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}

#event-selection-desc {
  display: none;
  width: 200px; 
  text-align: left;
}

/* Overall Progress Bar (at the top of page) */
.progress {
  text-align: center;
  position: relative;
}

/* Text embedded in all Progress Bars */
.progress .progress-value {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }

/* Judge-specific Progress Bar */
.progress.inline {
  margin-top: 10px;
  width: 90%;
}

/* Content beneath tabs */
.beneath-tab {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

/* Notification bell button */
.notification-btn {
  color: gold;
  font-size: 18px;
  border-style: solid;
  border-width: 2px;
  float: right;
}

/*
 * Accordion chevron
 */
a.accordion-toggle:link {
  color: white;
  text-decoration: none;
}
a.accordion-toggle:visited {
  color: white;
  text-decoration: none;
}
a.accordion-toggle:hover {
  color: black;
  text-decoration: none;
}

/* 
 * Judge Progress Tab Items
 */
.media {
  border: solid black 2px;
  max-height: 68px;
}
.media.media-modal {
  border: none;
  padding-left: 5px;
}
.media.media-completed:hover {
  cursor: pointer;
  background: #EEEEEE;
}

.dashboard-media-body {
  line-height: 100%;
}

a.team-pic span.completed {
  display: inline-block;
  font-size: 35px;
  position: relative;
  top: -38px;
  color: green;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.judge-accordion, .team-accordion {
  background-color: #339494;
  margin-bottom: 5px;
  color: #fff !important;
}

.judge-accordion-inner {
  background-color: #fff !important;
  color: #000 !important;
}

.judge-accordion .panel-heading,
.team-accordion .panel-heading {
  height: 60px; 
}

.judge-col {
	margin-top: 10px;
}

.judge-heading-text {
	width: 90%;
	overflow: hidden;
}

.projects-judged-text {
	margin-top: 10px; 
	font-size: 12px;
	overflow: hidden;
}

/*
 * Event Creation View
 */ 
#calendar-icon {
  font-size: 30px;
}
#begin-event-button {
  margin-top: 50px;
  width: 200px;
}
#end-date-optional {
	display: none;
}

/*
 * Event Ready View
 */
 .event-ready {
	margin-top: 30px;
 }

/*
 * Event In Progress View
 */

.edit-event-form {
  margin-left: 10%;
}

/*
 * Team Standing Tab
 */
.media-standing {
	margin-top: 10px;
	margin-bottom: 10px;
}

.category-standing {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.judgedTeam {
  width: 200px;
  float: left;
  margin: 5px;
  margin-top: 5px !important;
}

.judgedTeam.active {
 cursor: pointer; 
}

/*
 * Notification Modal
 */
.recipient {
  background: #EEEEEE;
  padding: 5px;
  display: inline-block;
  margin-right: 2px;
}

.recipient .glyphicon.glyphicon-remove:hover {
  cursor: pointer;
  color: #337AB7;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
}

/*
 * Team Completion Modal
 */
#completed-team-modal .modal-header {
  background-color: #339494;
  color: white;
}

#completed-team-modal-loading {
  color: #339494;  
}

#completed-team-modal .btn-primary {
  background-color: #339494;
  color: white;
}

h4.modal-title {
  max-height: 68px;
}

.table.table-modal thead tr {
  background: rgb(200, 200, 200);
  border-top: 1px solid #000;
}

.table.table-modal {
  border: none;
}

.table.table-modal td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.table.table-modal tbody tr:last-child {
  border-bottom: 1px solid #000;
  background-color: #339494;
  color: white;
}

/* In progress animation (above overall progress bar) */
#fadingBarsG{
  position:relative;
  width:240px;
  height:29px
}

.fadingBarsG {
  position:absolute;
  top:0;
  background-color:#000000;
  width:29px;
  height:29px;
  -moz-animation-name:bounce_fadingBarsG;
  -moz-animation-duration:1.7s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:normal;
  -moz-transform:scale(.3);
  -webkit-animation-name:bounce_fadingBarsG;
  -webkit-animation-duration:1.7s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -webkit-transform:scale(.3);
  -ms-animation-name:bounce_fadingBarsG;
  -ms-animation-duration:1.7s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:normal;
  -ms-transform:scale(.3);
  -o-animation-name:bounce_fadingBarsG;
  -o-animation-duration:1.7s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:normal;
  -o-transform:scale(.3);
  animation-name:bounce_fadingBarsG;
  animation-duration:1.7s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  transform:scale(.3);
}

#fadingBarsG_1 {
  left:0;
  -moz-animation-delay:0.68s;
  -webkit-animation-delay:0.68s;
  -ms-animation-delay:0.68s;
  -o-animation-delay:0.68s;
  animation-delay:0.68s;
}

#fadingBarsG_2 {
  left:30px;
  -moz-animation-delay:0.85s;
  -webkit-animation-delay:0.85s;
  -ms-animation-delay:0.85s;
  -o-animation-delay:0.85s;
  animation-delay:0.85s;
}

#fadingBarsG_3 {
  left:60px;
  -moz-animation-delay:1.02s;
  -webkit-animation-delay:1.02s;
  -ms-animation-delay:1.02s;
  -o-animation-delay:1.02s;
  animation-delay:1.02s;
}

#fadingBarsG_4 {
  left:90px;
  -moz-animation-delay:1.19s;
  -webkit-animation-delay:1.19s;
  -ms-animation-delay:1.19s;
  -o-animation-delay:1.19s;
  animation-delay:1.19s;
}

  #fadingBarsG_5 {
  left:120px;
  -moz-animation-delay:1.36s;
  -webkit-animation-delay:1.36s;
  -ms-animation-delay:1.36s;
  -o-animation-delay:1.36s;
  animation-delay:1.36s;
  }

#fadingBarsG_6 {
  left:150px;
  -moz-animation-delay:1.53s;
  -webkit-animation-delay:1.53s;
  -ms-animation-delay:1.53s;
  -o-animation-delay:1.53s;
  animation-delay:1.53s;
}

#fadingBarsG_7 {
  left:180px;
  -moz-animation-delay:1.7s;
  -webkit-animation-delay:1.7s;
  -ms-animation-delay:1.7s;
  -o-animation-delay:1.7s;
  animation-delay:1.7s;
}

#fadingBarsG_8 {
  left:210px;
  -moz-animation-delay:1.87s;
  -webkit-animation-delay:1.87s;
  -ms-animation-delay:1.87s;
  -o-animation-delay:1.87s;
  animation-delay:1.87s;
}

@-moz-keyframes bounce_fadingBarsG {
  0% {
    -moz-transform:scale(1);
    background-color:#000000;
  }

  100% {
    -moz-transform:scale(.3);
    background-color:#FFFFFF;
  }
}

@-webkit-keyframes bounce_fadingBarsG {
  0% {
    -webkit-transform:scale(1);
    background-color:#000000;
  }

  100% {
    -webkit-transform:scale(.3);
    background-color:#FFFFFF;
  }
}

@-ms-keyframes bounce_fadingBarsG {
  0% {
    -ms-transform:scale(1);
    background-color:#000000;
  }

  100% {
    -ms-transform:scale(.3);
    background-color:#FFFFFF;
  }
}

@-o-keyframes bounce_fadingBarsG {
  0% {
    -o-transform:scale(1);
    background-color:#000000;
  }

  100% {
    -o-transform:scale(.3);
    background-color:#FFFFFF;
  }
}

@keyframes bounce_fadingBarsG {
  0% {
    transform:scale(1);
    background-color:#000000;
  }

  100% {
    transform:scale(.3);
    background-color:#FFFFFF;
  }
}

