<div class="row" ng-if="$index !== 0 && $index % 3 == 0"></div>
<div class="col col-sm-4 col-md-4 col-lg-4">
	<div class="category-standing" style="background-color: {{convertColorToHex(catTeamGroup.category.color)}}">
		{{catTeamGroup.category.label}}
	</div>
	<div ng-repeat="teamObj in catTeamGroup.teams | orderBy:'-teamPercentScore'">
		<div class="row">
			<div class="col col-sm-12 col-md-12 col-lg-12">
				<div class="media media-standing">
					<div class="media-left">
						<a href="javascript:void(0)">
							<img class="media-object"
									src="{{teamObj.team.logo}}"
									ng-show="teamObj.team.logo !== null"
									width="64"
									height="64"
									alt="64x64" />
							<img class="media-object"
									src="http://placehold.it/64x64"
									ng-show="teamObj.team.logo === null"
									width="64"
									height="64"
									alt="64x64" />
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							Placement: {{$index + 1}} {{}}
						</h4>
						<div class="media-text" cng-wrap-word word="#{{teamObj.team.id}} - {{teamObj.team.name}}"
								line-width="18"
								total-width="36">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>