#add-team-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid black 2px;
	border-radius: 24px	;
}

.add-entity-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid black 2px;
	border-radius: 24px	;
}

#team-buttons {
	margin-top: -5px;
	float: right;
}

#breadcrumb-symbol {
	color: rgb(144, 144, 144);
}

#breadcrumb-symbol #slash {
	color: rgb(204, 204, 204);
}

#breadcrumb-symbol a {
	cursor: pointer;
}

.draggable-item {
	width: 220px;
}

.draggable-item:hover, .category-specific-team:hover {
	background-color: white !important;
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
	cursor: move;
}

.modal-col {
	margin-left: 40px;
}

.modal-alert {
	display: inline-block;
}

.team-col {
	margin-bottom: 20px;
}

.team-accordion {
	padding-top: 20px;
}

.category-accordion-media {
	margin-bottom: 10px;
}

.btn-delete {
	float: left;
}
