<div class="container-fluid">
	<div class="row">
		<div class="col col-sm-8 col-md-8 col-lg-8">		
			<div ng-switch on="teamView">
				<div ng-switch-default>
					<div class="row">
						<h1>Teams <span class="label label-default">{{teams.length}}</span></h1>
						<hr>
					</div>
				</div>
				<div ng-switch-when="selectedCategory">
					<div class="row">
						<h1 id="breadcrumb-symbol">
							<a ng-click="changeView('default')">Teams</a><span id="slash">&nbsp;/</span> {{selectedCategory.label}}
							<span class="label label-default">{{selectedCategory.teams.length}}</span>
						</h1>
						<hr>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 col-md-8 col-lg-8">
					<em>Drag-'n-drop teams into categories.</em> 
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 pull-right">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="btn-group" role="group" id="team-buttons">
								<button class="btn btn-default" type="button" cng-organize-items>
									Organize
									<span class="glyphicon glyphicon-th-large"></span>
								</button>
								<div class="btn-group" role="group">
									<button class="btn btn-default dropdown-toggle" type="button" 
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										Sort by
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="teams-dropdown" ng-init="sortType = 'name'">
										<li><a href="javascript:void(0)" ng-click="changeView('default'); sortType = 'name'">Name</a></li>
										<li><a href="javascript:void(0)" ng-click="changeView('category')">Category</a></li>
										<li><a href="javascript:void(0)" ng-click="changeView('default'); sortType = 'number'">Number</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-switch on="teamView">
				<div ng-switch-default>
					<div class="row">
						<div class="col col-sm-12 col-md-12 col-lg-12">
							<button class="btn btn-lg btn-success add-entity-btn" ng-click="changeTeamModalView('create')">
								<span class="glyphicon glyphicon-plus"></span>
								Add Team
							</button>
						</div>
					</div><br />
					
					<div ng-repeat="team in teams | orderBy: '+name'" ng-if="sortType === 'name'">
						<div class="media draggable-item"
								 cng-draggable-item
								 item-id="{{team.id}}" 
								 item-type="team"
								 cog=".glyphicon-cog"
								 is-transferable="true">
							<div class="media-left">
								<a href="javascript:void(0)">
									<img class="media-object" src="http://placehold.it/64x64" alt="64x64">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">
									{{team.id}}
									<div class="glyphicon glyphicon-cog"
											 ng-click="changeTeamModalView('edit', team)">
									</div>
								</h4>
								<div class="media-text" cng-wrap-word word="{{team.name}}"
										 line-width="18"
										 total-width="36">
								</div>
							</div>
						</div>
					</div>
					<div ng-repeat="team in teams | orderBy: '+id'" ng-if="sortType === 'number'">
						<div class="media draggable-item" 
								 cng-draggable-item
								 item-id="{{team.id}}" 
								 item-type="team"
								 cog=".glyphicon-cog"
								 is-transferable="true">
							<div class="media-left">
								<a href="javascript:void(0)">
									<img class="media-object" src="http://placehold.it/64x64" alt="64x64">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">
									{{team.id}}
									<div class="glyphicon glyphicon-cog"
											 ng-click="changeTeamModalView('edit', team)">
									</div>
								</h4>
								<div class="media-text" cng-wrap-word word="{{team.name}}"
										 line-width="18"
										 total-width="36">
								</div>
							</div>
						</div>
					</div>
				</div> <!--ng-switch-default-->
				
				<div ng-switch-when="category">
					<div ng-repeat="category in categories | orderBy: '+name'">
						<div class="accordion team-accordion">
							<div class="panel panel-default accordion-group"
								 cng-category-accordion color="{{category.color}}"
									 category-name="{{category.label}}"
									 change-category="updateSelectedCategory(category)">
								<div class="panel-heading">
									<div class="accordion-heading">
										<a class="accordion-toggle"
											 data-toggle="collapse"
											 href="#category{{$index}}"
											 onclick="return false;"
											 ng-click="categoryChevron = (categoryChevron === 'glyphicon glyphicon-chevron-right')
															   ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"> 
												<span ng-class="categoryChevron" 
															ng-init="categoryChevron='glyphicon glyphicon-chevron-right'">
												</span> 
												{{category.label}} 
												<span class="pull-right">{{category.teams.length}} Teams</span>
										</a>				
									</div> 
								</div>
								<div id="category{{$index}}" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="panel-body">
											<div ng-repeat="team in category.teams | orderBy: '+name'">
												<br ng-if="$index % 3 == 0 && $index > 0" />
												<div class="media draggable-item" 
														 cng-draggable-item
														 item-id="{{team.id}}" 
														 item-type="team"
														 cog=".glyphicon-cog"
														 is-transferable="true">
													<div class="media-left">
														<a href="javascript:void(0)">
															<img class="media-object" src="http://placehold.it/64x64" alt="64x64">
														</a>
													</div>
														<div class="media-body">
															<h4 class="media-heading">
																{{team.id}} P
																<div class="glyphicon glyphicon-cog" 
																		 ng-click="changeTeamModalView('edit', team)">
																</div>
															</h4>
															<div class="media-text" cng-wrap-word word="{{team.name}}"
																	 line-width="18"
																	 total-width="36">
															</div>
														</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> 
					</div> <!--ng-repeat-->
				</div> <!--ng-switch-when-->

				<div ng-switch-when="selectedCategory">
					<div class="row">
						<div class="col col-sm-12 col-md-12 col-lg-12">
							<button class="btn btn-lg btn-success add-entity-btn" ng-click="changeTeamModalView('create')">
								<span class="glyphicon glyphicon-plus"></span>
								Add Team to {{selectedCategory.label}} 
							</button>
						</div>
					</div><br />

					<div ng-repeat="team in selectedCategory.teams| orderBy: '+name'">
						<div class="media draggable-item" 
								 cng-draggable-item 
								 item-id="{{team.id}}"
								 item-type="team"
								 cog=".glyphicon-cog"
								 is-transferable="true">
							<div class="media-left">
								<a href="javascript:void(0)">
									<img class="media-object" src="http://placehold.it/64x64" alt="64x64">
								</a>
							</div>
								<div class="media-body">
									<h4 class="media-heading">
										{{team.id}}
										<div class="glyphicon glyphicon-cog" 
												 ng-click="changeTeamModalView('edit', team)">
										</div>
									</h4>
									<div class="media-text" cng-wrap-word word="{{team.name}}"
											 line-width="18"
											 total-width="36">
									</div>
								</div>
						</div>

					</div>
				</div> <!--ng-switch-when-->
				
			</div> <!--ng-switch on-->
		</div>
		
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="text-center" id="category-container" ng-include="'modules/categories/categories.html'"></div> <!--Text-Center-->
		</div> <!--Col-->

	</div> <!--Row-->
</div> <!--Container-Fluid-->

<!-- Team Modal -->
<div class="modal fade" id="team-modal" tabindex="-1" role="dialog" aria-labelledby="team-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content panel-success">
	  		<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<div ng-switch on="teamModalView">
					<div ng-switch-when="create">
						<div ng-switch on="teamView">
							<div ng-switch-when="default">
								<h4 class="modal-title">Add New Team</h4>
							</div>
							<div ng-switch-when="selectedCategory">
								<h4 class="modal-title">Add New Team to {{selectedCategory.name}}</h4>
							</div>
						</div>
					</div> <!-- ng-switch-when="create" -->

					<div ng-switch-when="edit">
						<h4 class="modal-title">Edit Team: {{teamName}}</h4>
					</div> <!-- ng-switch-when="edit" -->
				</div> <!-- ng-switch on="teamModalView" -->
			</div> <!-- ./modal-header panel-heading -->

			<div class="modal-body">
				<div class="row">
					<div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
						<label>*Team Name:</label>
					</div>
					<div class="col col-lg-7 col-md-7 col-sm-7">
						<input class="form-control" 
									 type="text" 
									 ng-model="teamName"
									 required
									 autofocus />
					</div>
				</div><br />

				<div class="row">
					<div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
						<label>Team #:</label>
					</div>
					<div class="col col-lg-7 col-md-7 col-sm-7">
						<select ng-model="teamNumber" required>
							<option ng-repeat="number in teamNumberOptions">{{number}}</option>
						</select>
					</div>
				</div><br />

				<div class="row">
					<div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
						<label>Logo:</label>
					</div>
					<div class="col col-lg-2 col-md-2 col-sm-2">
						<img class="media-object" src="http://placehold.it/64x64" alt="64x64">
					</div>
					<div class="col col-lg-5 col-md-5 col-sm-5" style="margin-left: -20px">
						<div class="row">
							<div class="col col-lg-12 col-md-12 col-sm-12">
								<div class="input-group">
									<span class="input-group-btn">
								<button class="btn btn-sm btn-default" 
										type="button">Select file...</button>
							  </span>
								  <input type="text" 
										 class="form-control input-sm" 
										 placeholder="File" 
										 style="width: 115%"
										 ng-model="teamLogo">
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 4px">
							<div class="col col-lg-12 col-md-12 col-sm-12">
								<button class="btn btn-sm btn-default">Upload</button>
							</div>
						</div>
					</div>
				</div><br />

				<div class="row">
					<div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
						<label>Description:</label>
					</div>
					<div class="col col-lg-7 col-md-7 col-sm-7">
						<textarea class="form-control" 
								  rows="3" 
								  ng-model="teamDesc"
								  required>
						</textarea>
					</div>
				</div><br />

				<div class="row">
					<div class="col col-lg-3 col-md-3 col-sm-3 modal-col">
					</div>
					<div class="col col-lg-9 col-md-9 col-sm-3 modal-col">
						<div ng-switch on="teamModalError">
							<div ng-switch-when="undefined">
							</div>
							<div ng-switch-default>
								<div class="alert alert-danger modal-alert">
									{{teamModalError}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- ./modal-body -->

			<div ng-switch on="teamModalView">
				<div ng-switch-when="create">
					<div class="modal-footer">
						<button type="button" class="btn btn-success" ng-click="createNewTeam()">Save changes</button>
						<button type="button" class="btn btn-default" ng-click="closeTeamModal()">Cancel</button>
					</div> <!-- ./modal-footer -->
				</div> <!-- ng-switch-when-"create" -->

				<div ng-switch-when="edit">
					<div class="modal-footer">
						<button type="button" class="btn btn-danger btn-delete" ng-click="deleteTeam()">Delete</button>
						<button type="button" class="btn btn-success" ng-click="editSelectedTeam()">Save changes</button>
						<button type="button" class="btn btn-default" ng-click="closeTeamModal()">Cancel</button>
					</div> <!-- /.modal-footer-->
				</div> <!-- ng-switch-when-"edit" -->
			</div> <!-- ng-switch on="categoryModalView" -->

		</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
