<div class="container-fluid">
	<div class="row">
		<div class="col col-sm-8 col-md-8 col-lg-8">
			<div ng-switch on="judgeView">
				<div ng-switch-default>
					<div class="row general-error-message-row">
						<div class="col col-sm-6 col-md-6 col-lg-6">
							<h1>Judges <span class="label label-default">{{judges.length}}</span></h1>
						</div>
						<div class="col col-sm-6 col-md-6 col-lg-6 general-error-message-col">
							<h4 general-error-message
									 animate="true"
									 color="red">
							</h4>
						</div>
					</div>
					<br />
				</div>
				<div ng-switch-when="selectedCategory">
					<div class="row">
						<h1 id="breadcrumb-symbol">
							<a ng-click="changeView('default')">Judges</a><span id="slash">&nbsp;/</span> {{selectedCategory.label}}
							<span class="label label-default">TODO</span>
						</h1>
						<hr>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 col-md-8 col-lg-8">
					<em>Drag-'n-drop judges into categories to assign judges to teams.</em>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 pull-right">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="btn-group" role="group" id="team-buttons">
								<button class="btn btn-default" type="button" cng-organize-items>
									Organize
									<span class="glyphicon glyphicon-th-large"></span>
								</button>
								<div class="btn-group" role="group">
									<button class="btn btn-default dropdown-toggle" type="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										Sort by
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="javascript:void(0)" ng-click="changeView('category')">Affiliation</a></li>
										<li><a href="javascript:void(0)" ng-click="changeView('default')">Name</a></li>
										<li><a href="javascript:void(0)" ng-click="changeView('team')">Teams</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-switch on="judgeView">
				<div ng-switch-default>
					<div class="row">
						<div class="col col-sm-12 col-md-12 col-lg-12">
							<button class="btn btn-lg btn-success add-entity-btn"
											data-toggle="modal"
											data-target="#judge-modal"
											ng-click="changeJudgeModalView('create', null)">
								<span class="glyphicon glyphicon-plus"></span>
								Add Judge
							</button>
						</div>
					</div>

					<div ng-repeat="judgeObj in judges track by $index | orderBy: '+judge.name'" class="draggable-item-col">
            <div class="media draggable-item"
                 cng-draggable-item
                 item-id="{{judgeObj.id}}"
                 item-type="judge"
                 cog=".glyphicon-cog"
                 is-transferable="true">
              <div class="media-left"></div>
              <div class="media-body">
                <h4 class="media-heading">
                  <span class="glyphicon glyphicon-cog"
                        data-toggle="modal"
                        data-target="#judge-modal"
                        ng-click="changeJudgeModalView('edit', judgeObj)">
                  </span>
                </h4>
                <div class="media-text judge-media-text"
                     cng-wrap-word word="{{judgeObj.judge.name}}"
                     line-width="25"
                     total-width="50">
                </div> 
                <a href="javascript:void(0)">{{judgeObj.judge.email}}</a><br />
              </div>
            </div>
					</div>
				</div> <!-- ng-switch-default -->

				<div ng-switch-when="selectedCategory">
					<div class="row">
						<div ng-repeat="judgeObj in selectedCategory.judges track by $index | orderBy: '+judge.name'">
              <div class="media draggable-item"
                   cng-draggable-item
                   itemId="{{judgeObj.id}}"
                   cog=".glyphicon-cog"
                   is-transferable="true">
                <div class="media-left"></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <span class="glyphicon glyphicon-cog"
                          ng-click="changeJudgeModalView('edit', judgeObj)">
                    </span>
                  </h4>
                  <div class="media-text judge-media-text"
                       cng-wrap-word word="{{judgeObj.judge.name}}"
                       line-width="25"
                       total-width="50">
                  </div>
                </div>
              </div>
						</div>
					</div>
				</div> <!-- ng-switch-when="selectedCategory" -->

				<div ng-switch-when="team">
					teams
				</div> <!-- ng-switch-when="team" -->
			</div> <!-- ng-switch on -->
		</div> <!-- ./col col-sm-8 col-md-8 col-lg-8 (Judges Container) -->

		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="text-center" id="category-container" ng-include="'modules/categories/categories.html'">
			</div> <!--Text-Center-->
		</div> <!-- ./col (Categories Container) -->

	</div> <!-- ./row -->
</div> <!-- ./container-fluid -->

<form name="judgeForm" novalidate>
	<div class="modal fade" id="judge-modal" tabindex="-1" role="dialog" aria-labelledby="judge-modal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content panel-success">
				<div class="modal-header panel-heading">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeJudgeModal()">
						<span aria-hidden="true">&times;
						</span>
					</button>
					<h4 class="modal-title"
						id="notification-modal-label">
						<span ng-show="judgeModalView == 'create'">Add new Judge: {{judgeInfoForm.judgeFirstName}} {{judgeInfoForm.judgeLastName}}</span>
						<span ng-show="judgeModalView == 'edit'">Edit Judge '{{judgeInfoForm.judgeFirstName}} {{judgeInfoForm.judgeLastName}}'</span>
					</h4>
				</div>

				<div class="modal-body">
					<tabset style="margin-left: 10px; margin-right: 10px;">
						<tab heading="Judge Information"
								active="tabs[0].active">
							<div class="lj-tab-content">
								<div class="row">
									<div class="col col-sm-2 col-md-2 col-lg-2">
									</div>
									<div class="col col-sm-3 col-md-3 col-lg-3">
										<label>*First Name:</label>
									</div>
									<div class="col col-sm-5 col-md-5 col-lg-5">
										<input class="form-control"
													 type="text"
													 ng-model="judgeInfoForm.judgeFirstName"
													 required />
									</div>
								</div> <!-- ./row -->
								<br />

								<div class="row">
									<div class="col col-sm-2 col-md-2 col-lg-2">
									</div>
									<div class="col col-sm-3 col-md-3 col-lg-3">
										<label>*Last Name:</label>
									</div>
									<div class="col col-sm-5 col-md-5 col-lg-5">
										<input class="form-control"
													 type="text"
													 ng-model="judgeInfoForm.judgeLastName"
													 required	/>
									</div>
								</div> <!-- ./row -->
								<br />

								<div class="row">
									<div class="col col-sm-2 col-md-2 col-lg-2">
									</div>
									<div class="col col-sm-3 col-md-3 col-lg-3">
										<label>*E-mail:</label>
									</div>
									<div class="col col-sm-5 col-md-5 col-lg-5">
										<input class="form-control"
													 type="email"
													 ng-model="judgeInfoForm.judgeEmail"
													 required />
									</div>
								</div> <!-- ./row -->
								<br />

								<div class="row">
									<div class="col col-sm-2 col-md-2 col-lg-2">
									</div>
									<div class="col col-sm-3 col-md-3 col-lg-3">
										<label>Affiliation:</label>
									</div>
									<div class="col col-sm-5 col-md-5 col-lg-5">
										<input class="form-control"
													 type="text"
													 ng-model="judgeInfoForm.judgeAffiliation" />
									</div>
								</div> <!-- ./row -->
							</div>
						</tab>

						<tab heading="Assigned Teams"
								active="tabs[1].active"
								ng-show="judgeModalView == 'edit'">
							<div class="lj-tab-content">
								<label>Currently Assigned Teams: ({{assignedTeams.length}})</label>
								<div class="row">
									<div class="col col-sm-12 col-md-12 col-lg-12">
										<span ng-if="assignedTeams.length == 0">
											No teams assigned to this judge.
										</span>
										<span ng-if="assignedTeams.length > 0">
											<span ng-repeat="teamObj in assignedTeams"
												 class="assigned-team">
												<span ng-show="!teamObj.toRemove">
												 	#{{teamObj.team.id}} {{teamObj.team.name}} [<!-- comment prevents space
											 		--><a ng-click="removeTeamFromJudge(teamObj)"
											 				class="clickable">x</a>]
										 		</span>
										 		<span ng-show="teamObj.toRemove">
										 			<s><i>#{{teamObj.team.id}} {{teamObj.team.name}}</i></s> [<!--
										 			--><a ng-click="undoRemoveTeamFromJudge(teamObj)"
										 					class="clickable">+</a>]
										 		</span>
											</span>
										</span>
									</div>
								</div>
								<br />

								<label>Teams to Be Assigned: ({{teamsToAdd.length}}) [<!--
								--><a ng-click="clearTeamsToAdd()" class="clickable">
									Clear all
								</a>]</label>
								<div class="row">
									<div class="col col-sm-12 col-md-12 col-lg-12">
										<span ng-if="teamsToAdd.length == 0">
											No teams to be added.
										</span>
										<span ng-if="teamsToAdd.length > 0">
											<span ng-repeat="team in teamsToAdd"
													class="team-to-add">
												#{{team.id}} {{team.name}} [<!--
												--><a ng-click="removeTeamFromTeamsToAdd(team)"
														class="clickable">x</a>]
											</span>
										</span>
									</div>
								</div>
								<br />
								
								<label>Teams to Be Removed: ({{teamsToRemove.length}}) [<!--
								--><a ng-click="clearTeamsToRemove()" class="clickable">
									Clear all
								</a>]</label>
								<div class="row">
									<div class="col col-sm-12 col-md-12 col-lg-12">
										<span ng-if="teamsToRemove.length === 0">
											No teams to be removed.
										</span>
										<span ng-if="teamsToRemove.length > 0">
											<span ng-repeat="teamObj in teamsToRemove"
													  class="team-to-add">
												#{{teamObj.team.id}} {{teamObj.team.name}} [<!--
												--><a ng-click="undoRemoveTeamFromJudge(teamObj)"
														class="clickable">x</a>]
											</span>
										</span>
									</div>
								</div>
								<br />

								<div class="row">
									<div class="col col-sm-7 col-md-7 col-lg-7">
										<div class="input-group">
   									 	<span class="input-group-btn">
   									 		<div class="btn-group" role="group">
													<button class="btn btn-default dropdown-toggle"
															type="button"
															data-toggle="dropdown"
															aria-haspopup="true"
															aria-expanded="true">
														Sort by
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu">
														<li><a href="javascript:void(0)" ng-click="changeModalSortType('name')">Name</a></li>
														<li><a href="javascript:void(0)" ng-click="changeModalSortType('id')">Number</a></li>
													</ul>
												</div>
     									</span>
											<input type="text"
													placeholder="Type to filter by team, category, or number"
													ng-model="teamFilterText"
													class="form-control" />
										</div>
									</div>
									<div class="col col-sm-5 col-md-5 col-lg-5 pull-left btn-group">
										<button class="btn btn-info"
												ng-click="selectAllFilteredTeams()">
											Select All
										</button>
										<button class="btn btn-warning"
												ng-click="deselectAllFilteredTeams()">
											Clear All
										</button>
									</div>
								</div>
								<br />

								<div class="row">
									<div class="col col-sm-12 col-md-12 col-lg-12">
										<table class="table table-striped" id="judge-modal-table">
											<thead>
												<th>Team #</th>
												<th>Team Name</th>
												<th>Category</th>
												<th>Add</th>
											</thead>
											<tbody>
												<!-- For modalSortType === 'name' or 'id', default to grey background color -->
												<tr ng-repeat="team in teams | filter:teamFilterText | orderBy: modalSortType">
													<td>{{team.id}}</td>
													<td>{{team.name}}</td>
													<td>{{team | printAllCategories}}</td>
													<td>
                              <input type="checkbox"
                                     ng-checked="team.selected"
                                     ng-click="(team.selected) ? deselectFilteredTeam(team) : selectFilteredTeam(team)" />
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>

						<tab heading="Rubric Options"
								active="tabs[2].active"
								ng-if="judgeModalView == 'edit'">
							<div class="lj-tab-content">
								...
							</div>
						</tab>
					</tabset>
					<br />

					<div ng-switch on="judgeErrorMessage">
						<div ng-switch-when="undefined"></div>
						<div ng-switch-default>
							<div class="row">
								<div class="col col-sm-2 col-md-2 col-lg-2"></div>
								<div class="col col-sm-8 col-md-8 col-lg-8">
									<div class="alert alert-danger">
										{{judgeErrorMessage}}
									</div>
								</div>
								<div class="col col-sm-2 col-md-2 col-lg-2"></div>
							</div> <!-- ./row -->
						</div> <!-- ng-switch-when="undefined" -->
					</div> <!-- ng-switch on="judgeErrorMessage" -->
				</div> <!-- ./modal-body -->

				<div class="modal-footer">
					<div class="row">
						<div class="col col-md-5">
							<input ng-show="judgeModalView == 'create'"
									type="submit"
									class="btn btn-success pull-right"
									value="Create"
									ng-click="addJudge()" />
							<input ng-show="judgeModalView == 'edit'"
									type="submit"
									class="btn btn-success pull-right"
									value="Update"
									ng-click="editJudge()" />
						</div>
						<div class="col col-md-1"></div>
						<div class="col col-md-5">
							<button type="button"
									class="btn btn-failure pull-left"
									data-dismiss="modal"
									ng-click="closeJudgeModal()">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div><!-- ./modal-content-->
		</div><!-- ./modal-dialog-->
	</div>
</form>

<div class="modal fade" id="judge-cat-assignment-modal" tabindex="-1" role="dialog" aria-labelledby="judge-cat-assignment-modal" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content panel-success">
			<div class="modal-header panel-heading">
				<span class="modal-title">Assign Teams in Category to Judge</span>
			</div>

			<div class="modal-body">
				<div ng-repeat="team in teamsInDropCat" class="teams-in-cat-list">
					<label>
						<input type="checkbox" ng-model="team.checked" />
            {{team.name}}
					</label>
				</div>
				<label ng-if="teamsInDropCat.length === 0">
          There are currently no teams in this category.
        </label>
			</div>

			<div class="modal-footer">
				<div class="row">
					<span class="col col-sm-7">
						<button type="button"
								class="btn btn-success pull-right"
								ng-click="assignTeamsToJudge()">
							Assign Selected Teams to Judge
						</button>
					</span>
					<span class="col col-sm-2"></span>
					<span class="col col-sm-5">
						<button type="button"
								class="btn btn-default pull-left"
								data-dismiss="modal"
								ng-click="closeAssignByCatModal()">
							Cancel
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
