#judge-modal-tabs  .nav-tabs {
	margin-bottom: 0;
	border: none;
}

#judge-modal-teams-view {
	border: solid #dddddd 1px; 
	border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.judge-modal-tab-content {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
}

#judge-modal-add-btn {
	margin-left: -15px;
}

#judge-modal-table {
	height: 150px;
	overflow-y: auto;
}

#judge-modal-textarea {
	height: 50px;
	margin-top: 5px;
	overflow-y: auto;
}

#judge-modal-alert {
	padding: 1px;
	margin-top: 2px;
	margin-bottom: 0px;
	overflow: hidden;
	background-color: #E51C23;
	color: white;
}