.judge-modal-tab-content {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
}

#judge-modal-add-btn {
	margin-left: -15px;
}

#judge-modal-table {
	height: 150px;
	overflow-y: auto;
}

#judge-modal-textarea {
	height: 50px;
	margin-top: 5px;
	overflow-y: auto;
}

#judge-modal-alert {
	padding: 1px;
	margin-top: 2px;
	margin-bottom: 0px;
	overflow: hidden;
}