.judge-media-text {
	margin-top: 10px;
}

/*
 * Judge Modal
 */

#judge-modal-tabs  .nav-tabs {
	margin-bottom: 0;
	border: none;
}

#judge-modal-teams-view {
	border: solid #dddddd 1px;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
}

.judge-modal-tab-content {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
}

#judge-modal-add-btn {
	margin-left: -15px;
}

#judge-modal-table {
	height: 150px;
	overflow-y: auto;
}

#judge-modal-textarea {
	height: 50px;
	margin-top: 5px;
	overflow-y: auto;
}

#judge-modal-table {
	table-layout: fixed;
}

#judge-modal-table td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#judge-modal-table th:nth-of-type(1) {
	width: 10%;
}

#judge-modal-table th:nth-of-type(2) {
	width: 30%;
}

#judge-modal-table th:nth-of-type(3) {
	width: 50%;
}

#judge-modal-table td:nth-of-type(3) {
	font-size: 12px;
}

#judge-modal-table th:nth-of-type(4) {
	width: 10%;
}

.teams-in-cat-list {
	width: 90%;
    margin: 0 auto;
}

.assigned-team {
	background-color: #dddddd;
	margin: 2px;
}

.team-to-add {
	background-color: #B5FF91;
	margin: 2px;
}