
<div class="container-fluid">
	<div class="row">
		<div class="col col-sm-8 col-md-8 col-lg-8">
			<div ng-switch on="currentView">
				<div ng-switch-default>
					<div class="row">
						<h1>Judges <span class="label label-default"></span></h1>
						<hr>
					</div>
				</div>
				<div ng-switch-when="selectedCategory">
					<div class="row">
						<div class="page-header current-category-header">
							<h1 id="breadcrumb-symbol">
								<a ng-click="changeView('default')">Teams</a><span id="slash">&nbsp;/</span> {{selectedCategory.name}} 
								<span class="label label-default">{{selectedCategory.teams.length}}</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-8 col-md-8 col-lg-8">
					<em>Drag-'n-drop judges into categories.</em>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 pull-right">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="btn-group" role="group" id="team-buttons">
								<button class="btn btn-default" type="button" cng-organize-teams>
									Organize
									<span class="glyphicon glyphicon-th-large"></span>
								</button>
								<div class="btn-group" role="group">
									<button class="btn btn-default dropdown-toggle" type="button" 
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										Sort by
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="teams-dropdown">
										<li><a href="javascript:void(0)" ng-click="changeView('default')">Name</a></li>
										<li><a href="javascript:void(0)" ng-click="changeView('category')">Affiliation</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- ./col col-sm-8 col-md-8 col-lg-8 -->
		
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="text-center" id="category-container">
		
				<div class="row">
					<h1>Categories <span class="label label-default">3</span></h1>
					<hr>
				</div>
			
				<ul>
					<button class="btn btn-lg btn-success" id="add-category-btn" ng-click="changeCategoryModalView('create')">
						<span class="glyphicon glyphicon-plus"></span> Add Category
					</button>
				</ul>
				
				<ul id="category-list">
					<br /><br />
					<li class="droppable-category">
		        <a class="btn" style="background-color: {{uncategorized.color}}" ng-click="viewCategoryDetails('uncategorized')">
		         	<h3></h3>
							<div>
								<div><u>{{uncategorized.name}}</u></div>
								<span class="droppable-category-text">{{uncategorized.teams.length}} Teams</span>
							</div>
						</a>
			    </li>
					<div ng-repeat="category in categories.list | orderBy: '+name'" ng-if="category.name != 'Uncategorized'">
						<li class="droppable-category" 
							  cng-droppable-category 
							  category-name="{{category.name}}"
							  check-category="$parent.categories.getTeamByName(categoryName, teamName)" 
							  update-category="$parent.transferTeamToCategory(categoryName, teamName)">
			        <a class="btn" style="background-color: {{category.color}}" ng-click="viewCategoryDetails($event)">
			        	<h3>
									<span class="glyphicon-wrapper"><span class="glyphicon glyphicon-cog" ng-click="changeCategoryModalView('edit', $event, category)"></span></span>
								</h3>
								<div>
									<div><u>{{category.name}}</u></div>
									<span ng-if="category.judges.length == 0" class="droppable-category-text">{{category.teams.length}} Teams</span>
									<span ng-if="category.judges.length > 0" class="droppable-category-text">{{category.teams.length}} Teams / {{category.judges.length}} Judges</span>
								</div>
							</a>
				    </li>
			    </div>
			    <br /><br /> 
				</ul>
				
			</div> <!-- ./text-center -->
		</div> <!-- ./col -->

	</div> <!-- ./col-sm-4 col-md-4 col-lg-4 -->
</div> <!-- ./container-fluid -->
