#add-project-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid black 2px;
	border-radius: 24px	;
}

#add-category-btn {
	height: 80px;
	border: solid black 2px;
	border-radius: 0;
}

.dropdown {
	margin-top: -5px;
}

.category {
	height: 80px;
	background: rgb(204, 204, 204);
	border: solid black 2px;
	margin-top: 10px;
	margin-right: 102px;
	margin-left: 102px;
}

.category  h3 {
	margin-top: 2px;
}

.category  div:first-of-type {
	margin-top: -10px;
}

.category-modal-col {
	margin-left: 40px;
}

