#add-project-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid black 2px;
	border-radius: 24px	;
}

#project-buttons {
	margin-top: -5px;
	float: right;
}

#breadcrumb-symbol {
	color: rgb(144, 144, 144);
}

#breadcrumb-symbol #slash {
	color: rgb(204, 204, 204);
}

#breadcrumb-symbol a {
	cursor: pointer;
}

#category-container {
	height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
}

#add-category-btn {
	height: 80px;
	width: 200px;
	border: solid black 2px;
	border-radius: 0;
}

#category-list {
	list-style-type: none;
	margin-top: -30px;
}

.droppable-category a {
	color: black;
  margin-left: auto;
  margin-right: auto; 
  height: 80px;
	border: solid black 2px;
	margin-top: 10px;
	width: 200px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.droppable-category a:hover {
	background-color: white !important;
	border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.droppable-category h3 {
	margin-top: 0;
}

.draggable-project .glyphicon-cog, .droppable-category .glyphicon-cog {
	margin-right: 5px;
	float: right;
	color: #398439;
	display: none;
	cursor: pointer;
	font-size: 15px;
}

.category-specific-project .glyphicon-cog {
	margin-right: 5px;
	float: right;
	display: none;
	color: #398439;
	cursor: pointer;
	font-size: 15px;
}

.modal-col {
	margin-left: 40px;
}

.project-col {
	margin-bottom: 20px;
}

.project-accordion {
	padding-top: 20px;
}

.draggable-project {
	position: relative;
	z-index: 2;
	background-color: white;
	cursor: grab;
	margin-right: 10px;
	margin-bottom: 20px;
}

.draggable-project:hover, .category-specific-project:hover {
	background-color: white !important;
	border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.category-accordion-media {
	margin-bottom: 10px;
}
